.orange-bg{
    background-color: #FCEAE8;
}
.carousel-item{
    padding: 30px 30px;
}
.price{
    color: #FF3F8B;
}
.buy-now-button{
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    padding: 7px;
    background-image: linear-gradient(to bottom,#FF5298,#FF1671);
    color: white;
    font-weight: 400;
}
.cat1,.cat2,.cat3{
    padding: 3px 30px;
    border-radius: 10px;
    color: white;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: #DA70D6;
}
.cat3{
    background-color: #0000FF;
}
.categories{
    margin-top: 70px;
}
.categories img{
    width: 90px;
}
.card {
    border: none;
    box-shadow: 1px 10px 8px rgb(156, 177, 184);
}
#subscribe{
    height: 300px;
}
.orange-bg h3{
    text-transform: uppercase;
}
.orange-bg input{
    background-color: #fdfdfd;
    border: 1px solid rgb(248, 155, 171);
    border-radius: 5px;
}